<template name="child" args="state actions children">
  <div>
    <h1>{state.title}</h1>
    <if condition="state.showAuthor">
      <h2>by {state.author}</h2>
      <p>Name: {state.name}</p>
    </if>
    <if condition=state.isLoggedIn>
      <ul>
        <li each="post in state.posts" key={post.slug}>
          <a href="/post/post.id" title={post.title}>{post.name}</a>
        </li>
      </ul>
      <a onclick="{actions.logout()}">Logout</a>
    <else>
      <a onclick="{actions.login()}">Login</a>
    </if>
    <my-element key='xx' egg='leg'></my-element>
  </div>
</template>