<!doctype html>
<html>
<body>
  <script src="https://unpkg.com/ce-v0@latest/min.js"></script>
  <script src="https://unpkg.com/ce-v0@0.2.1/comp.js"></script>
  <!-- <script
  src="https://cdnjs.cloudflare.com/ajax/libs/document-register-element/1.7.1/document-register-element.js"
>/* W3C Custom Elements */</script> -->
  <script src="https://unpkg.com/hyperapp"></script>
  <script>
    const { h, app } = hyperapp
  </script>
  <script src="child-view.js"></script>
  <script src="child.js"></script>
  <script src="parent-view.js"></script>
  <script src="parent.js"></script>
  <x-parent></x-parent>
</body>
</html>